body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f9f9f9;
}

header {
  background: #006400;
  color: white;
  padding: 1rem;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

nav a.active {
  font-weight: bold;
  border-bottom: 2px solid yellow;
}

main {
  padding: 1rem;
}

button {
  background: #006400;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
}
button:hover {
  background: #228b22;
}
