/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #ae00ff;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 20px;
}

.formulario {
    min-height: 420px;
    background: linear-gradient(
        45deg,
        #4b0082,
        #6a00ff,
        #9b00ff,
        #c800ff
    );
    background-size: 600% 600%;
    animation: psicodelico 6s linear infinite;

    padding: 30px;
    border-radius: 15px;
    width: 360px;

    box-shadow: 
        0 0 20px rgba(180, 0, 255, 0.8),
        0 0 40px rgba(120, 0, 255, 0.6);
}

/* Animación */
@keyframes psico {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Etiquetas y campos */
label {
    display: block;
    margin-top: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}

/* Estados de validación */
input:valid, textarea:valid {
    outline: 2px solid #e100ff;
}

input:invalid, textarea:invalid {
    outline: 2px solid #df4ebf;
}

input, select, textarea {
    background-color: rgba(255, 255, 255, 0.85);
}

/* Checkbox */
.terminos {
    margin-top: 15px;
    color: white;
}

/* Botones */
.botones {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #53055a;
}
