body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: round;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2gRzku5OpP7EOBnNiAYC7VCiRS8pVFz64Iw&s);
    margin: 0;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;           
}

h2 {
  text-align: center;
  color: greenyellow;
  font-size: 2rem;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  align-items: center;
  justify-content: end;
  max-width: 350px;
  height: 700px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #000;
  box-shadow: 2px 2px 8px 5px rgb(255, 0, 140)
}

.card-img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.card-description {
  text-align: center;
  font-size: 1rem;
  color: greenyellow;
  margin-bottom: 15px;
}

.tech-list {
  margin-bottom: 15px;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  margin: 5px;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.3s ease;
}

.demo-btn {
  background-color: greenyellow;
  color: #000;
}

.demo-btn:hover {
  background-color: rgba(172, 255, 47, 0.5);
}

.code-btn {
  background-color: magenta;
  color: white;
}

.code-btn:hover {
  background-color: rgba(255, 0, 255, 0.5);
}

#proyecto1 {
  border: 2px solid #ddd;
}

#lista-tecnologias {
  color: magenta;
}

#btn-demo, #btn-code {
  font-size: 1rem;
}

@media (max-width: 780px) {
  main {
    flex-direction: column;   
    align-items: center;      
  }

  .card {
    max-width: 90%;           
  }
}
