body {
    background-image: url("https://img.freepik.com/fotos-premium/moderno-patron-neon-costura-colorido-patron-luces-neon_1299314-545.jpg");
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: greenyellow;
}

label {
    color: greenyellow;
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, textarea, select {
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 5px;
    border: 3px solid magenta;
    border-radius: 5px;
}

/* Contenedor principal */
.container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background: #000000bd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Formulario */
.contact-form {
    display: flex;
    flex-direction: column;
}

/* Botones */
.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.enviar {
    background: greenyellow;
    color: #222 ;
}


.limpiar {
    background: magenta;
    color: #222;
}

/* Estados de validación */
input:valid, textarea:valid, select:valid {
    border-color: #4CAF50;
    background-color: black;
    color: white;
}

input:invalid, textarea:invalid, select:invalid {
    border-color: magenta;
}

/* Pseudoclases */
.btn:hover {
    opacity: 0.9;
}

input:focus {
    outline: 3px solid greenyellow;
}

::placeholder{
    color: white;
}

/* Pseudoelementos */
label::after {
    content: " *";
    color: magenta;
}

h1::first-letter {
    color: magenta;
    font-size: 2rem;
}

/* Selectores de clase */
.terminos {
    display: flex;
    margin-top: 15px;
}

.form-buttons {
    gap: 10px;
}

.contact-form textarea {
    min-height: 50px;
}

#titulo-form {
    margin-bottom: 20px;
}

#btn-enviar, #btn-limpiar {
    transition: background 0.3s ease;
}
