body{
    background-color: rgb(198, 215, 222);
}

/* Selector de etiqueta */
h1 {
    color: #2c3e50;
    text-align: center;
    font-size: 2.5em;
}

p {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    text-align: justify;
}

/* Selector de clase */
.info-personal {
    background-color: #f4f4f4;
    padding: 15px;
    list-style-type: none;
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
}

.contacto a {
    margin: 10px;
    display: inline-block;
    text-decoration: none;
    color: #2980b9;
    font-weight: bold;
    text-align: center;
}

/* Selector de ID */
#foto-perfil {
    background-color: #dbeb93;
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #2c3e50;
}
